.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUp {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: #000000;
}

.header h3 {
    align-items: center;
    position: relative;
    margin-left: 5rem;
}

.form {
    padding: 1rem;
}

.form-button {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.close {
    background: none;
    color: #060606;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    margin-left: 14rem;
  }